---
import svgPinkStar from "../assets/pink-star.svg";
import Button from "./Button.astro";
import { buy } from "../sample";
---

<section class="px-3" id="hire">
  <div
    class="max-w-3xl mx-auto bg-white text-center flex flex-col gap-4 border-3 shadow-[8px_8px_0px_rgba(0,0,0,0.3)] relative p-10"
  >
    <h2 class="text-3xl">Ready to unlock the power of your data?</h2>
    <p class="text-lg max-w-xl mx-auto">
      Let’s work together to turn your data into actionable insights and smarter
      decisions. Contact me for data analysis, machine learning, or business
      intelligence solutions.
    </p>
    <div class="flex justify-center">
      <Button text={buy.title} link={buy.link} target="_blank" />
    </div>
    <img
      src={svgPinkStar.src}
      alt="Pink decorative star"
      width="80"
      class="absolute -top-10 right-20"
    />
  </div>
</section>
