---

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>David Portfolio</title>
    <meta
      name="description"
      content="Data analyst and machine learning portfolio. Discover projects, services, and insights for data-driven decision making."
    />
    <meta
      name="keywords"
      content="data analyst, machine learning, portfolio, data science, analytics, business intelligence, Python, AI, projects, CristhianAC"
    />
    <meta name="author" content="CristhianAC" />
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://yourdomain.com/" />
    <meta
      property="og:title"
      content="David Portfolio - Data Analyst & Machine Learning"
    />
    <meta
      property="og:description"
      content="Data analyst and machine learning portfolio. Discover projects, services, and insights for data-driven decision making."
    />
    <meta property="og:image" content="/david.webp" />
    <!-- Twitter -->
  </head>
  <body>
    <slot />
    <script>
      // Asegura que todas las secciones estén ocultas antes de cargar GSAP
      document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll("section").forEach((section) => {
          section.classList.add("is-invisible");
        });
      });
    </script>
    <script type="module" src="/gsap-scroll.js"></script>
  </body>
</html>

<style>
  :root {
    --main-bg: #fefff0;
    --blue: #bae6ff;
    --yellow: #ffdc58;
  }

  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-bg);
    font-family: "Space Grotesk", sans-serif;
    scroll-behavior: smooth;
  }
  .is-invisible {
    opacity: 0 !important;
    transform: translateY(60px) !important;
    transition: none !important;
  }
</style>
